.carousel {
  &Indicators {
    display: flex;
    justify-content: center;
  }

  &Indicator {
    width: 15px;
    height: 15px;
    border: none;
    background-color: #dadada;
    margin: 0 8px;
    border-radius: 100%;
    cursor: pointer;
  }
}

.active {
  background-color: #414141;
}
