.carousel {
  &Indicators {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    bottom: 1rem;
    z-index: 2;
  }

  &Indicator {
    width: 1rem;
    height: 1rem;
    border: none;
    background-color: #fff;
    opacity: 0.5;
    margin: 0.2rem;
    border-radius: 50%;
    cursor: pointer;
    top: 0;
  }
}

.active {
  opacity: 1;
}
