.serviceValuesItem {
  color: #414141;
  margin: 20px 15px;
}

.title {
  font-size: 24px;
  font-family:
    Poppins,
    system-ui,
    -apple-system,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    "Liberation Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 15px;
}
