.carousel {
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;

  &Inner {
    white-space: nowrap;
    transition: ease 1s;
  }
}
