.carousel {
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width: 50%;
  max-width: 800px;

  &Inner {
    white-space: nowrap;
    transition: ease 0.5s;
  }
}

@media screen and (max-width: 992px) {
  .carousel {
    width: 90%;
  }
}
