.carousel {
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  max-width: 800px;
  width: 90%;

  @media screen and (min-width: 992px) {
    width: 50%;
  }

  &Inner {
    white-space: nowrap;
    transition: ease 0.5s;
  }
}
