@import "/client/App/styles/utils";

.mobileNavigationLink {
  display: flex;
  margin: 16px 0;
}

.image {
  width: 30px;
  margin-right: 15px;
}

.text {
  color: $blue;
  font-weight: bold;
  cursor: pointer;

  &:hover {
    color: $blue-hover;
  }
}
