@import "/client/App/styles/utils";

.contentWrapper {
  margin: 0 0.5rem;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: cover;
  transition: transform 0.2s;
  height: 150px;
  width: 300px;

  &:hover {
    transform: scale(1.1);
  }
}

.title {
  font-family: $second-font;
  font-weight: 700;
}

.inquiries {
  font-family: $second-font;
}

.blure {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(0deg, rgb(0 0 0 / 75%), transparent);
}
