.dropdown {
  display: flex;
  justify-content: center;
  background-color: #f6f6f6;
  width: 100%;
  padding: 2rem 0;

  &List {
    display: flex;
    width: 50%;
    flex-wrap: wrap;
  }
}

@media (max-width: 1200px) {
  .dropdownList {
    width: 80%;
  }
}