.dropdown {
  background-color: #f6f6f6;
  width: 100%;
  padding: 45px 0;

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    justify-content: center;
  }

  &__item {
    display: flex;
    margin: 20px 0;
    justify-content: left;
    color: #0071bc;
    font-size: 20px;
    align-items: center;

    &:hover {
      color: #05314e;
      cursor: pointer;
    }
  }
}

.icon {
  width: 40px;
  margin-right: 10px;
}
