$second-font: "Poppins", system-ui, -apple-system, "Segoe UI", roboto, "Helvetica Neue", arial, "Noto Sans",
  "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$margin-auto-x: 0 auto;

// Screen sizes
$screen-sm: 320px;
$screen-md: 768px;
$screen-lg: 1366px;

// Content sizes
$content-width-sm: 290px;
$content-width-md: 728px;
$content-width-lg: 1000px;

// Font sizes
$font-sm: 12px;
$font-md: 24px;
$font-lg: 36px;

// Default colors
$gray-light: #f6f6f6;
$gray-medium: #676767;
$gray-dark: #414141;
$blue: #0071bc;
$blue-hover: #05314e;
$yellow: gold;

.pageContent {
  padding: 0 20px;

  @media (min-width: $screen-md) {
    margin: $margin-auto-x;
    max-width: $content-width-lg;
    padding: 0;
  }
}
