@import "/client/App/styles/utils";

.service {
  margin: 2rem 0;
  color: #414141;
}

.title {
  font-size: 24px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: 1px;
  font-family: $second-font;
  margin-bottom: 1rem;

  @media (min-width: 992px) {
    font-size: 42px;
  }
}

.image {
  width: 1rem;
}

.introduction {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1.5rem;
}

.search {
  display: flex;
  flex-grow: 1;
  border: 1px solid #ebebeb;
  border-radius: 0.25rem;
  margin: 0.5rem 0;

  &Input {
    border: none;
    padding: 0.5rem;
    width: 100%;
  }
}

.magnifier {
  width: 2rem;
  padding: 0.5rem;

  &Button {
    background-color: $yellow;
    border: none;
    cursor: pointer;
  }
}
