@import "/client/App/styles/utils";

.carousel {
  &Item {
    display: inline-block;
    width: 100%;
  }

  &ContentWrapper {
    display: flex;
    align-items: center;
    background-color: $yellow;
    border-radius: 20px;
    height: 100px;
    white-space: normal;
    pointer-events: none;

    @media (min-width: $screen-md) {
      height: 200px;
    }

    @media (min-width: $screen-sm) {
      margin: 0 20px;
    }
  }

  &Text {
    flex: 1;
    font-weight: bold;
    text-align: center;
  }

  &Image {
    height: 100%;
    width: 30%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
}

.withoutText {
  flex: 1;
  border-radius: 20px;
}

.arrow {
  background-color: white;
  width: 40px;
  height: 40px;
  padding: 8px;
  margin-right: 16px;
  border-radius: 100%;
  cursor: pointer;
  display: none;

  @media (min-width: $screen-md) {
    display: block;
  }
}
