.item {
  display: flex;
  flex: 33%;
  margin: 20px 0;
  color: #0071bc;
  font-weight: bold;
  align-items: center;
  cursor: pointer;

  &:hover {
    color: #05314e;
  }
}

.icon {
  width: 32px;
  margin-right: 20px;
}
