@import "/client/App/styles/utils";

.item {
  display: flex;
  flex: 33%;
  margin: 20px 0;
  color: $blue;
  font-weight: bold;
  align-items: center;
  cursor: pointer;

  &:hover {
    color: $blue-hover;
  }
}

.icon {
  width: 32px;
  margin-right: 20px;
}
