@import "/client/App/styles/utils";

.list {
  display: flex;
  justify-content: right;
}

.item {
  padding: 20px 15px;
}

.itemButton {
  color: $blue;
  background: none;
  border: none;
  cursor: pointer;

  &Toggled {
    background-color: $gray-light;
  }

  &:hover {
    color: $blue-hover;
  }
}

.workersSectionButton {
  padding-left: 30px;
  border-left: 1px solid #ebebeb;
  color: $gray-medium;
}

.toggle {
  display: flex;

  &True {
    transform: rotate(180deg);
  }
}
