.list {
  display: flex;
  justify-content: right;
}

.item {
  padding: 20px 15px;
}

.itemButton {
  color: #0071bc;
  background: none;
  border: none;
  cursor: pointer;

  &Toggled {
    background-color: #f6f6f6;
  }

  &:hover {
    color: #05314e;
  }
}

.workersSectionButton {
  padding-left: 30px;
  border-left: 1px solid #ebebeb;
  color: #676767;
}

.toggle {
  display: flex;

  &True {
    transform: rotate(180deg);
  }
}
