@import "/client/App/styles/utils";

.navbar {
  display: flex;
  border-bottom: 1px solid #ebebeb;

  &Left {
    display: flex;
    align-items: center;
    background-color: $yellow;
    padding: 0 1.5rem;
  }

  &Right {
    padding-right: 1rem;
    width: 100%;
  }
}

.logo {
  min-width: 5rem;
}

.mediumBarContainer {
  display: flex;
}

.menu {
  z-index: 1;
  position: absolute;
  width: 100%;
  opacity: 0;
  top: -100%;
  pointer-events: none;
  box-shadow: 0 1px 4px #d1d8ce;
  transition: opacity 0.2s, top 5s;

  &Visible {
    opacity: 1;
    top: 60px;
    transition: opacity 0.2s;
    pointer-events: all;
    background-color: #f6f6f6;
  }
}

.mobileNav {
  display: flex;
}

.dropdownWrapper {
  margin: 0 auto;

  @media (min-width: 1200px) {
    max-width: 1000px;
  }
}
