@import "/client/App/styles/utils";

.navbar {
  display: flex;
  border-bottom: 1px solid #ebebeb;

  &Left {
    display: flex;
    background-color: $yellow;
    padding: 0 30px;
  }

  &Right {
    padding-right: 10px;
    flex: 1;
  }
}

.logo {
  min-width: 80px;
}

.menu {
  z-index: 1;
  position: absolute;
  width: 100%;
  opacity: 0;
  top: -100%;
  pointer-events: none;
  box-shadow: 0 1px 4px #d1d8ce;
  transition: opacity 0.2s, top 5s;

  &Visible {
    opacity: 1;
    top: 66px;
    transition: opacity 0.2s;
    pointer-events: all;
    background-color: $gray-light;
  }
}

.mobileNav {
  display: flex;
}

.dropdownWrapper {
  margin: $margin-auto-x;

  @media (min-width: $screen-md) {
    max-width: $content-width-lg;
  }
}
